<!DOCTYPE html>
<html>
<head>
	<title>WebInspector</title>

	
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	<link href="css/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="css/style_default.css" rel="stylesheet" />


</head>

<body>
	<div ng-app='mainApp'>
		<div class="main-container" ng-view></div>
	</div>




	
	<!-- Scripts loading -->
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/angular-route.min.js"></script>
	<script src="js/lib/angular-resource.min.js"></script>
	<script src="js/lib/angular-sanitize.js"></script>
	<script src="js/lib/jquery.min.js"></script>

	<script src="js/app/services/service.js"></script>
	<script src="js/app/app.js"></script> 
	<script src="js/app/controllers/inputController.js"></script><!--
	<script src="js/app/controllers/mainController.js"></script>
	<script src="js/app/controllers/newsController.js"></script>
	<script src="js/app/controllers/mailController.js"></script>
	<script src="js/app/controllers/horaireController.js"></script>
	<script src="js/app/controllers/newsTemplateController.js"></script>
	<script src="js/app/controllers/sidebarController.js"></script>-->
</body>
</html>
